* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background: linear-gradient(
        135deg,
        #fff5fa,
        #ffe4ef,
        #ffeef7
        );

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.container{
    width:100%;
    max-width:700px;
    background:white;
    padding:35px;
    border-radius:28px;
    box-shadow:0 15px 40px rgba(255,105,180,.18);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1{
    color:#ff4f9a;
    font-size:3rem;
    font-weight:800;
}

header p{
    color:#8a6d7c;
    font-size:18px;
}

.question-section,
.options-section,
.decision-section,
.result-section {
    margin-bottom: 25px;
}

label,
h2 {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input{
    width:100%;
    padding:14px 18px;
    border:2px solid #ffd2e6;
    border-radius:14px;
    font-size:16px;
    margin-bottom:12px;
    transition:.3s;
}

input:focus{
    outline:none;
    border-color:#ff70b8;
    box-shadow:0 0 12px rgba(255,112,184,.25);
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:14px;
    cursor:pointer;
    color:white;
    font-size:17px;
    font-weight:700;

    background:linear-gradient(
        135deg,
        #ff6fb5,
        #ff4f9a
    );

    transition:.3s;
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 25px rgba(255,79,154,.3);
}

#result{
    text-align:center;
    font-size:34px;
    font-weight:800;
    color:#ff4f9a;
    margin-top:20px;
}

.option-row{
    display:flex;
    gap:10px;
    margin-bottom:12px;
}

.option-row input{
    flex:1;
    margin-bottom:0;
}

.remove-btn{
    width:50px;
    background:#ff7cae;
}

.remove-btn:hover{
    background:#ff4f9a;
}

button:disabled {
    background: #9ca3af;
    cursor: not-allowed;
}

.duplicate {
    border: 2px solid #ef4444 !important;
    background-color: #fee2e2;
}